.music-wrapper {
    width: 50%;
}

.player {
    max-width: 480px;
}

.header {
    margin-bottom: 6%;
}

.header .title {
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 3%;
}

.header .artist {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.6;
}

.song-image img {
    width: 480px;
    height: auto;
    max-height: 480px;
}

.controls {
    justify-content: space-between;
    margin-top: 6%;
}

.play {
    width: 40%;
    justify-content: space-between;
}

.svg {
    border-radius: 50%;
    cursor: pointer;
}

.linear-progress {
    position: relative;
    margin-top: 5%;
}

.progress {
    width: 100%;
    background: #FFFFFF;
    opacity: 0.2;
    height: 6px;
    border-radius: 16px;
}

.bar {
    position: absolute;
    top: 0;
    left: 0;
    background: #FFFFFF;
    height: 6px;
    width: 0;
    opacity: 1;
    border-radius: 16px;
}

.no-music {
    flex-direction: column;
}

.no-music p {
    margin-top: 4%;
    font-size: 1.3em;
}


@media (min-height: 676px) and (max-height: 768px) {
    .song-image img {
        width: 370px;
        height: auto;
        max-height: 370px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .header .title {
        font-size: 17px;
        line-height: 22px;
    }

    .song-image img {
        width: 370px;
        height: auto;
        max-height: 370px;
    }
}

@media (max-width: 768px) {
    .song-image img {
        width: 330px;
        height: auto;
        max-height: 330px;
    }

    .header .title {
        font-size: 15px;
        line-height: 20px;
    }
}